# Environment variables (secrets)
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Node (frontend)
node_modules/
.next/
